<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDERk3LQbkCC7kujZnMX1hev4PeipSD6g0</string>
	<key>GCM_SENDER_ID</key>
	<string>455998348307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>you-know.u-no</string>
	<key>PROJECT_ID</key>
	<string>youknow-9a146</string>
	<key>STORAGE_BUCKET</key>
	<string>youknow-9a146.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455998348307:ios:c3b2a12056241ccf8233e6</string>
</dict>
</plist>